body {
  background-color: #252b26;
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 28px;
}

a:link {
  color: #ad03fc;
  text-align: center;
}

/* visited link */
a:visited {
  color: #5465ff;
  text-align: center;
}

/* mouse over link */
a:hover {
  color: #570080;
  text-align: center;
}
